.join {
    padding: 92px 0 140px;

    background: #ECF3E6;
}

.join-cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    width: 743px;
    border: none;
}

.join-title {
    margin-bottom: 46px;
    text-align: center;
}

.join-title h3 {
    font-size: 24px;
    font-weight: 600;
}

.join-box {
    padding: 28px 108px 80px;
    background: #fff;
}

.register-join-title {
    margin: 40px 0 42.5px;
    text-align: center;
}

.register-join-title h6 {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
}

.register-join-title p {
    font-size: 15px;
    font-weight: 530;
}

.register-join-title p span {
    font-weight: 600;
    color: #89a230;
}

.member-cont h3 {
    display: inline-block;
    margin: 0 0;
    padding: 0 0 17px 0;
    height: 37px;
    
    font-weight: normal;
    font-size: 18px;
    color: #222222;
}

.member-cont .important {
    background: url(/static/images/register-img/icon_dot_03.png) no-repeat 0 center;
}

.info-box {
    width: 743px;
}

.info-box > span {
    position: relative;
    top: -3px;
    float: right;
    padding: 0 0 0 10px;
    line-height: 40px;

    color: #ab3e55;
}

.base-info-sec {
    border-top: 1px solid #999;
    line-height: 40px;
}

.base-info-sec table {
    width: 100%;
    border: 0;
    
}

.base-info-sec table th {
    padding: 10px 25px;
    text-align: left;
    border-bottom: 1px solid #dcdcdc;
    background: #fbfbfb;
}

.base-info-sec table th span {
    padding: 0 0 0 10px;
    margin: 0 0 0 -10px;
}

.base-info-sec table th:first-child {
    border-left: none;
}

.base-info-sec table td {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #dcdcdc;

    font-size: 12px;
    line-height: 1.5;
    font-family: Malgun Gothic, "막은 고딕";
    color: #333;
}

.base-info-sec .error-message {
    padding-top: 5px;
    color: #ab3e55;
}


.base-info-sec table input[type="text"], input[type="password"] {
    padding: 0 10px;
    height: 31px;
    border: 1px solid #d6d6d6;
    
    color: #333;

    outline: none;
    font-size: 12px;
}

.base-info-sec table input[type="text"] {
    width: 380px;
}

.member-warning {
    display: inline;
    position: relative;
}

.base-info-sec .member-email input[type="text"] {
    width: 251px;
}

.member-email select {
    padding: 0 0 0 8px;
    height: 31px;
    width: 125px;
    border: 1px solid #cccccc;
    outline: none;

    color: #717171;

    cursor: pointer;
}

.member-email option {
    
    font-size: 13px;
}

.form-element {
    margin-top: 5px;
}

.form-element input {
    height: 13px;
    top: 3px;
    left: 1px;
    
    line-height: 5px;
}

.form-element label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 10px;

    top: -1px;
    left: 0;
    min-height: 20px;
}

.address-postcode {
    overflow: hidden;
}

.member-address .address-postcode input[type="text"] {
    width: 190px;
    line-height: 31px;
    float: left;
}

.address-postcode .btn-postsearch {
    float: left;
    margin: 0 0 0 5px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #989898;

    background-color: white;

    cursor: pointer;
}

.member-address .address-input input {
    margin: 10px 0 0 0;
}

.member-cont .btn-center-box {
    margin: 35px 0 0 0;
}

.btn-center-box {
    text-align: center;
}

.btn-center-box button + button {
    margin-left: 6px;
}

.btn-center-box button {
    margin: 0 2px 0 3px;
    width: 150px;
    height: 45px;

    font-weight: bold;
    font-size: 13px;
    
    cursor: pointer;
}

.btn-center-box .btn-cancel {
    background: #fff;

    border: 1px solid #cccccc;
}

.btn-cancel:hover {
    color: #333333;
    border: 1px solid #bbbbbb;
}

.btn-center-box .btn-join {
    border: 1px solid #ECF3E6;
    color: #3e3e3e;
    background: #ECF3E6;
}

.btn-center-box .btn-join:hover {
    border: 1px solid #d3eebcbe;
    color: #222222;
    background: #d3eebcbe;
}