footer{
    width: 100%;
    height: 268.5px;
    margin: 0 auto;
}

.gni-link{
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.footer-link-list{
    margin: 0 auto;
    width: 1280px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}

.footer-link-list li{
    width: 251.8px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(134, 159, 48);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.footer-link-list li:last-child{
    border-right: none;
}

.footer-link-list li a{
    display: block;
    width: 251.8px;
    height: 35px;
    text-align: center;
}

.footer-link-list li a img{
    width: 30px;
    height: 35px;
}

.footer-link-list li a span{
    position: relative;
    top: -8px;
}

.footer-info{
    width: 100%;
    height: 107.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info-group{
    width: 1264px;
    height: 58.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info-group div{
    width: 440px;
    height: 58.5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.5px;
}

.footer-info-group a{
    display: block;
    width: 158px;
    height: 58.5px;
}

.footer-info-group a img{
    width: 100%;
}

.footer-bottom-wrap{
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom{
    width: 1264px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.footer-bottom-list{
    width: 780px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.footer-bottom-list li{
    border-right: 1px solid rgb(76, 76, 76);
    padding: 0px 6px;
    text-align: center;
}

.footer-bottom-list li:nth-child(2){
    font-weight: 900;
}

.footer-bottom-list li:last-child{
    border-right: none;
}

.sns-group{
    width: 451.5px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sns-group li:first-child{
    width: 170px;
    height: 35px;
    display: flex;
}

.sns-group li:first-child a{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

.sns-group li:first-child a img{
    width: 40px;
    height: 40px;
}

.sns-group li a{
    display: block;
    width: 40px;
    height: 40px;
}

.sns-group li a img{
    width: 100%;
}
