/* 메인이미지 슬라이드 */
#wrapper{
    width: 100%;
}

main{
    width: 100%;
    height: 2000px;
}

#container{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    left: 0;
}

.slider-container{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
}

.slider-container.animated{
    transition: left 0.3s ease-in;
}

.slide{
    position: absolute;
    width: 100%;
    height: 600px;
}

.slide img{
    width: 100%;
    height: 600px;
}

.prev{
    display: block;
    z-index: 99;
    width: 65px;
    position: absolute;
    top: 40%;
}

.prev img{
    width: 100%;
}

.next{
    display: block;
    z-index: 99;
    width: 65px;
    position: absolute;
    top: 40%;
    right: 0.3%;
}

.next img{
    width: 100%;
}

.prev.disabled, .next.disabled{
    display: none;
}


/* 메인 스토리 캐스트 */
#main-storycast{
    margin: 0 auto;
    width: 1440px;
    height: 930px;
    padding: 80px 0px;
}

.storycast-contents{
    width: 100%;
    height: 900px;
}

.title-box{
    width: 100%;
    height: 66px;
}

.title{
    width: 100%;
    height: 36px;
    margin-bottom: 11px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.short-txt{
    width: 100%;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.more-btn{
    display: block;
    width: 56px;
    height: 56px;
    border: 1px solid rgb(76, 76, 76);
    position: relative;
    top: 34px;
    left: 1290px;
}

.more-btn img{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.tab-area{
    width: 100%;
    height: 41px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-area li{
    width: 233px;
    height: 30px;
    cursor: pointer;
}

.tab-area li a{
    display: block;
    width: 232px;
    height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(134, 159, 48);
    display: block;
    font-size: 20px;
    color: rgb(85, 85, 85);
    font-weight: 600;
    text-align: center;
}

.tab-area li a.active{
    color: rgb(134, 159, 48);
    font-weight: 900;
    border-bottom: 2px solid rgb(134, 159, 48);
}

.tab{
    width: 100%;
    height: 668px;
    position: relative;
    overflow: hidden;
}

.tab1{
    position: absolute;
    visibility: hidden;
}

.tab2{
    position: absolute;
    visibility: hidden;
}

.tab3{
    position: absolute;
    visibility: hidden;
}

.cf{
    width: 1440px;
    height: 668px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.col1{
    width: 700px;
    height: 624px;
    background-color: white;
    color: rgb(76, 76, 76);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
}

.col1:hover{
    background-color: rgb(144, 175, 42);
}
 
.row1{
    width: 100%;
    height: 624px;
}

.btn-ga-send{
    display: block;
    width: 700px;
    height: 624px;
}

.btn-ga-send:hover{
    color: white;
}

col1 .img-box{
    width: 100%;
    height: 426px;
}

.img-box img{
    width: 100%;
}

.txt-box{
    width: 100%;
    height: 198px;
    padding: 34px 40px;
}

.txt-box h6{
    width: 100%;
    height: 61.5px;
    font-size: 22px;
}

.col2{
    width: 700px;
    height: 624px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row2{
    margin-right: 5px;
}

.row3, .row4{
    margin-right: 5px;
    margin-top: 36px;
}

.box{
    width: 330px;
    height: 294px;
    background-color: white;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
}

.box:hover{
    background-color: rgb(144, 175, 42);
}

.box a{
    display: block;
    width: 100%;
    height: 294px;
} 

.box img-box{
    width: 100%;
    height: 201px;
}  

.box .txt-box{
    width: 100%;
    height: 93px;
    padding: 20px 25px;
}

.box .txt-box h6{
    width: 280px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
}
