<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿 네이버스 공식 홈페이지</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <div id="wrapper">
        <!-- header -->
        <header>
            <div class="header-wrap">
                <div class="header-group">
                    <div class="header-top">
                        <ul class="account-list">
                            <li><a href="account/login">로그인</a></li>
                            <li><a href="account/register">회원가입</a></li>
                            <li><a class="receipt-btn" href="#">기부금 영수증</a></li>
                        </ul>
                    </div>
                    <div class="header-bottom">
                        <div class="header-logo">
                            <img src="/static/images/header_images/Logo_big.png" alt="logo">
                        </div>
                        <nav>
                            <ul class="main-menu">
                                <li>
                                    <a class="main-menu-btn" href="#">후원하기</a>
                                    <ul class="menu-wrap">
                                        <li>
                                            <ul class="submenu">
                                                <li>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">캠페인후원</a></li>
                                                        <li class="submenu-title"><a href="#">해외아동 1:1결연</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">개인후원</a></li>
                                                        <li class="submenu-title"><a href="#">기업후원</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">고액기부</a></li>
                                                        <li class="submenu-title"><a href="#">유산기부</a></li>
                                                    </ul>
                                                    <ul class="side-menu">
                                                        <li>
                                                            <a href="#">
                                                                <img class="" src="/static/images/header_images/donation1.jpg" alt="">
                                                                <h6>[해외아동 1:1결연]<br>응, 시작해봐<br>원했던 오늘을​</h6>
                                                            </a>
                                                            <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="/static/images/header_images/donation2.jpg" alt="">
                                                                <h6>[국내여아지원캠페인]<br>소녀야, 너는 반짝이는 별</h6>
                                                            </a>
                                                            <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="main-menu-btn" href="#">스토리</a>
                                    <ul class="menu-wrap">
                                        <li>
                                            <ul class="submenu">
                                                <li>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">스토리</a></li>
                                                        <li class="submenu-title"><a href="#">결과보고</a></li>
                                                        <li class="submenu-title"><a href="#">영상보기</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">공지/뉴스</a></li>
                                                        <li class="submenu-title"><a href="#">소식지</a></li>
                                                        <li class="submenu-title"><a href="#">뉴스레터</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">좋은 이웃 참여</a></li>
                                                        <li class="submenu-title"><a href="#">자료실</a></li>
                                                    </ul>
                                                    <ul class="side-menu">
                                                        <li>
                                                            <a href="#">
                                                                <img class="" src="/static/images/header_images/story1.jpg" alt="">
                                                                <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="/static/images/header_images/story2.jpg" alt="">
                                                                <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="main-menu-btn" href="#">기관소개</a>
                                    <ul class="menu-wrap">
                                        <li>
                                            <ul class="submenu">
                                                <li>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">굿네이버스는</a></li>
                                                        <li><a href="#">기관소개</a></li>
                                                        <li><a href="#">굿네이버스 정신</a></li>
                                                        <li><a href="#">CI 및 슬로건</a></li>
                                                        <li><a href="#">연혁</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">투명경영</a></li>
                                                        <li><a href="#">굿네이버스 투명경영</a></li>
                                                        <li><a href="#">재정보고</a></li>
                                                        <li><a href="#">투명경영기준</a></li>
                                                        <li><a href="#">조직운영</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">조직현황</a></li>
                                                        <li><a href="#">글로벌 굿네이버스</a></li>
                                                        <li><a href="#">국내 조직현황</a></li>
                                                        <li class="submenu-title"><a href="#">굿네이버스 후원회</a></li>
                                                        <li class="submenu-title"><a href="#">굿네이버스 친선사절단</a></li>
                                                    </ul>
                                                    <ul class="side-menu">
                                                        <li>
                                                            <a href="#">
                                                                <img class="" src="/static/images/header_images/corporation1.jpg" alt="">
                                                                <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="/static/images/header_images/corporation2.jpg" alt="">
                                                                <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="main-menu-btn" href="#">사업안내</a>
                                    <ul class="menu-wrap">
                                        <li>
                                            <ul class="submenu">
                                                <li>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">국제구호개발사업</a></li>
                                                        <li><a href="#">지역개발사업</a></li>
                                                        <li><a href="#">교육보호</a></li>
                                                        <li><a href="#">보건의료</a></li>
                                                        <li><a href="#">식수위생</a></li>
                                                        <li><a href="#">소득증대</a></li>
                                                        <li><a href="#">아동권리옹호</a></li>
                                                        <li><a href="#">인도적지원</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">국내복지사업</a></li>
                                                        <li><a href="#">학대피해아동보호 및 예방</a></li>
                                                        <li><a href="#">심리정서지원</a></li>
                                                        <li><a href="#">위기가정아동지원</a></li>
                                                        <li><a href="#">지역사회복지지원</a></li>
                                                        <li><a href="#">아동권리옹호</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">세계시민교육</a></li>
                                                        <li class="submenu-title"><a href="#">대북지원사업</a></li>
                                                        <li class="submenu-title"><a href="#">아동권리연구소</a></li>
                                                    </ul>
                                                    <ul class="side-menu">
                                                        <li>
                                                            <a href="#">
                                                                <img class="" src="/static/images/header_images/business1.jpg" alt="">
                                                                <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="/static/images/header_images/business2.jpg" alt="">
                                                                <a class="side-menu-detail-btn" href="#">자세히보기</a>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="main-menu-btn" href="#">나의후원</a>
                                    <ul class="menu-wrap">
                                        <li>
                                            <ul class="submenu">
                                                <li>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">나의 후원정보</a></li>
                                                        <li><a href="#">후원내용확인/변경</a></li>
                                                        <li><a href="#">후원회비내역조회</a></li>
                                                        <li><a href="#">납부방법확인/변경</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">나의 결연아동</a></li>
                                                        <li><a href="#">아동정보</a></li>
                                                        <li><a href="#">선물금 보내기</a></li>
                                                        <li><a href="#">편지보내기</a></li>
                                                        <li><a href="#">편지함</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">온라인 출력</a></li>
                                                        <li><a href="#">기부금영수증</a></li>
                                                        <li><a href="#">회원증서</a></li>
                                                        <li><a href="#">후원금영수증</a></li>
                                                        <li><a href="#">후원활동증명서</a></li>
                                                    </ul>
                                                    <ul class="submenu-part">
                                                        <li class="submenu-title"><a href="#">개인정보확인/변경</a></li>
                                                        <li class="submenu-title"><a href="#">나의 문의함</a></li>
                                                        <li class="submenu-title"><a href="#">나의 참여내역</a></li>
                                                        <li class="submenu-title"><a href="#">회원자료실</a></li>
                                                    </ul>
                                                    <ul class="side-link">
                                                        <li class="submenu-title"><a href="#">기부금영수증</a></li>
                                                        <li class="submenu-title"><a href="#">FAQ/1:1문의</a></li>
                                                        <li><a href="#">회원참여이벤트</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="header-side">
                            <a href="#"><img src="/static/images/header_images/search_btn_big.png" alt=""></a>
                            <a class="direct-donation-btn" href="/payment/support_step1">바로후원하기</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/static/js/account/principal.js"></script>
            <script src="/static/js/header.js"></script>
        </header>

        <!-- main -->
        <main>
            <!-- main 이미지 -->
            <section id="container">
                <ul class="slider-container">
                    <li class="slide">
                        <img src="/static/images/main_image/main_image1.png" alt="">
                    </li>
                    <li class="slide">
                        <img src="/static/images/main_image/main_image2.png" alt="">
                    </li>
                    <li class="slide">
                        <img src="/static/images/main_image/main_image3.png" alt="">
                    </li>
                    <li class="slide">
                        <img src="/static/images/main_image/main_image4.png" alt="">
                    </li>
                </ul>
                <a href="#" class="prev"><img src="/static/images/main_image/main-left_btn.png"></a>
                <a href="#" class="next"><img src="/static/images/main_image/main-rigth-btn.png"></a>
            </section>
            <!-- main 스토리캐스트 -->
            <section id="main-storycast">
                <article class="storycast-contents">
                    <div class="title-box">
                        <h3 class="title">스토리</h3>
                        <p class="short-txt">
                            세상을 위한 좋은 변화, 더불어 살아가는 이야기가 함께 합니다.
                        </p>
                    </div>
                    <a class="more-btn" href="#"><img src="/static/images/main_image/plus_btn3.png" alt=""></a>
                    <ul class="tab-area">
                        <li>
                            <a href="#tabs-1" class="active">#지금 뜨는 이야기</a>
                        </li>
                        <li>
                            <a href="#tabs-2">#결과보고</a>
                        </li>
                        <li>
                            <a href="#tabs-3">#좋은이웃이야기</a>
                        </li>
                    </ul>
                    <div class="tab">
                        <div id="tabs-1" class="tab1 cf">
                            <div class="col1">
                                <div class="row1">
                                    <a href="/story/storycast/2784/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202211/27LyDxG1V.jpg" alt="편지쓰기대회/그림그리기대회 우수작 전시회에 초대합니다💌 (feat. 라멕의 모험)">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>편지쓰기대회/그림그리기대회 우수작<br>전시회에 초대합니다💌 (feat. 라멕의 모험)</h6>
                                            <span>더 알아보기</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="row1 box">    
                                    <a href="/story/storycast/2780/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202210/YzxQr93Wq.png" alt="아이들 마음에 '톡톡', 아이들 마음이 '튼튼'">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>아이들 마음에 '톡톡',<br>아이들 마음이 '튼튼'</h6>
                                        </div>        
                                    </a>
                                </div>
                                <div class="row2 box">
                                    <a href="/story/storycast/2781/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202211/01rJP315x.jpg" alt="굿네이버스 X 현대자동차 부릉🚙 LAMPU car 출동!">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>굿네이버스 X 현대자동차<br>부릉🚙 LAMPU car 출동!</h6>
                                        </div>         
                                    </a>
                                </div>
                                <div class="row3 box">
                                    <a href="/story/storycast/2773/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202210/vwVDygv0M.png" alt="아동권리가 보장되는 메타버스를 만나고 싶어요!">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>아동권리가 보장되는<br>메타버스를 만나고 싶어요!</h6>
                                        </div>                  
                                    </a>
                                </div>
                                <div class="row4 box">
                                    <a href="/story/feedback/146/view.gn" class="btn-ga-send" data-alt-a="메인콘텐츠" data-alt-b="지금뜨는이야기" data-alt-c="달라진 열세 살 상우의 삼시 세끼<br />">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202210/8ZpBBpNgV.jpg" alt="달라진 열세 살 상우의 삼시 세끼">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>달라진 열세 살 상우의 삼시 세끼<br></h6>
                                        </div>     
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-2" class="tab2 cf">
                            <div class="col1">
                                <div class="row1">
                                    <a href="https://www.goodneighbors.kr/annual_report/2021/international.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202205/BWEzpL481.jpg" alt="2021 굿네이버스 연차보고서">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>2021 굿네이버스 연차보고서</h6>

                                        </div>   
                                    </a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="row1 box">
                                    <a href="/story/feedback/146/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202210/9K0YYr1K1.jpg" alt="달라진 열세 살 상우의 삼시 세끼">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>달라진 열세 살 상우의 삼시 세끼</h6>
                                        </div>   
                                    </a>
                                </div>
                                <div class="row2 box">
                                    <a href="/story/feedback/145/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202209/6kVMKkrJR.jpg" alt="행복한 변화가 찾아온 은우, 우빈이네">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>행복한 변화가 찾아온 은우, 우빈이네</h6>
                                        </div> 
                                    </a>
                                </div>
                                <div class="row3 box">
                                    <a href="/story/feedback/140/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202208/1d8evXO1B.jpg" alt="사랑둥이 훈이와 할머니가 전하는 기쁜소식">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>사랑둥이 훈이와 할머니가 전하는 기쁜소식</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="row4 box">
                                    <a href="/story/storycast/2768/view.gn" class="btn-ga-send">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202210/xmYpGaj5G.jpg" alt="아이들을 지키는 '기후 골든타임'">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>아이들을 지키는 '기후 골든타임'</h6>
                                        </div> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-3" class="tab3 cf">
                            <div class="col1">
                                <div class="row1">                    
                                    <a href="/story/storycast/2785/view.gn" class="btn-ga-send" data-alt-a="메인콘텐츠" data-alt-b="좋은이웃이야기" data-alt-c="아이들을 지키는 SNS 히어로!<br />굿히어로 3기 대활약상을 공개합니다">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202211/qqLRBrBgx.jpg" alt="아이들을 지키는 SNS 히어로! 굿히어로 3기 대활약상을 공개합니다">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>아이들을 지키는 SNS 히어로!<br>굿히어로 3기 대활약상을 공개합니다</h6>
                                            <span>더 알아보기</span>
                                        </div> 
                                    </a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="row1 box">
                                    <a href="/story/storycast/2757/view.gn" class="btn-ga-send" data-alt-a="메인콘텐츠" data-alt-b="좋은이웃이야기" data-alt-c="커피 한 잔처럼<br />따뜻한 나눔의 영향력">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202209/R4Kjrnblz.jpg" alt="커피 한 잔처럼 따뜻한 나눔의 영향력">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>커피 한 잔처럼<br>따뜻한 나눔의 영향력</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="row2 box">
                                    <a href="/story/storycast/2700/view.gn" class="btn-ga-send" data-alt-a="메인콘텐츠" data-alt-b="좋은이웃이야기" data-alt-c="소중한 기념일에 따뜻한 나눔이 더해지면?">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202205/xenG084d8.jpg" alt="소중한 기념일에 따뜻한 나눔이 더해지면?">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>소중한 기념일에 따뜻한 나눔이 더해지면?</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="row3 box">
                                    <a href="/app/online_event/2022/11/child_event.gn" class="btn-ga-send" data-alt-a="메인콘텐츠" data-alt-b="좋은이웃이야기" data-alt-c="소소하게 통한다! 소통이 필요해~">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202211/E8YAYqBPz.png" alt="소소하게 통한다! 소통이 필요해~">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>소소하게 통한다! 소통이 필요해~</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="row4 box">
                                    <a href="/story/storycast/2745/view.gn" class="btn-ga-send" data-alt-a="메인콘텐츠" data-alt-b="좋은이웃이야기" data-alt-c="재능부자 '김윤미 작가'의<br />조금 특별한 나눔 이야기">
                                        <figure class="img-box">
                                            <img src="https://cdn.gni.kr/banner/202210/wBMEDx7nX.jpg" alt="재능부자 '김윤미 작가'의 조금 특별한 나눔 이야기">
                                        </figure>
                                        <div class="txt-box">
                                            <h6>재능부자 '김윤미 작가'의<br>조금 특별한 나눔 이야기</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <!-- main 배너 -->
            <section class="main-banner">
                <a class="main-banner-image" href="#"><img src="/static/images/main_image/main-banner.png" alt=""></a>
            </section>

            <!-- main 성과 -->
            <section class="main-result">
                <div class="main-result-backgroud">
                    <div class="main-result-contents">
                        <div class="main-result-top">
                            <div class="main-result-txtbox">
                                <p>Good Change for the world</p>
                                <h6>
                                    굿네이버스는 <strong>아동과</strong><br>
                                    <strong>지역사회의 좋은 변화</strong>를 위해<br>
                                    투명하고 성실하게<br>
                                    사업을 수행하고 있습니다.
                                </h6>
                                <div class="main-result-btns">
                                    <a href="#">연차보고</a>
                                    <a href="#">투명운영</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-result-bottom">
                            <div>
                                <h6>UN경제사회이사회로부터<br>NGO 최상위 지위인<br>‘포괄적 협의 지위’ 획득</h6>
                                <img src="/static/images/main_image/headgear.png">
                            </div>
                            <div>
                                <h6>UN MDGs Award에서<br>새천년개발목표상 수상:<br>보편적 초등교육 달성 기여</h6>
                                <img src="/static/images/main_image/trophy.png">
                            </div>
                            <div>
                                <h6>한국 NGO  최초<br>유엔세계식량계획(WFP)<br>파트너기관 선정</h6>
                                <img src="/static/images/main_image/handshake.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- main 뉴스 -->
            <section class="main-news">
                <div class="main-news-contents">
                    <div class="news-title-box">
                        <h3 class="tit">굿네이버스 소식</h3>
                        <p class="stxt">굿네이버스의 다양한 소식들을 전달합니다.</p>
                    </div>
                    <div class="news-board">
                        <ul class="new-group1">
                            <li>
                                <a href="#">
                                    <div class="new-img-wrab">
                                        <img src="/static/images/main_image/news1.jpg">
                                    </div>
                                    <div class="news-txtbox">
                                        <span class="domestic-tag">국내</span>
                                        <h6 class="news-title">우리 단체, 웹드라마 '서이추(서로 이웃 추가)' 좋은 이웃 시사회 진행</h6>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="new-img-wrab">
                                        <img src="/static/images/main_image/news2.jpg">
                                    </div>
                                    <div class="news-txtbox">
                                        <span class="domestic-tag">국내</span>
                                        <h6 class="news-title">아동학대 예방 캠페인 '배우는 부모, 자라는 아이' 진행</h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="news-group2">
                            <li>
                                <a href="#">
                                    <div class="news-txtbox2">
                                        <span class="domestic-tag">국내</span>
                                        <h6 class="news-title">우리 단체 – 한빛부대, 남수단 후원물자 공여 협약식 진행</h6>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="news-txtbox2">
                                        <span class="news-notice">GN공지</span>
                                        <h6 class="news-title">2022년 기부금 영수증 발급 안내</h6>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="news-txtbox2">
                                        <span class="news-notice">GN공지</span>
                                        <h6 class="news-title">사단법인 굿네이버스 인터내셔날 개인정보처리방침 개정 안내</h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- main 비디오 -->
            <section class="main-video">
                <div class="video-background"></div>
                <div class="video-wrap">
                    <div class="poster">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/MPWoZl6y4_U?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.goodneighbors.kr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-56264739_125="true" id="113803627" data-gtm-yt-inspected-56264739_127="true"></iframe>
                    </div>
                    <div class="video-txtbox">
                        <span class="video-tag">국내 한부모지원 캠페인</span>
                        <h6>나의 반쪽</h6>
                        <p>내레이션 : 배우 유진<br>한부모가 반쪽인 아이들을 지켜낼 수 있도록 함께해 주세요.</p>
                        <div class="video-btn-group">
                            <a class="video-more-btn" href="#">자세히보기</a>
                            <a class="video-donation-btn" href="#">후원하기</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- footer -->
        <footer>
            <!-- footer 사이트 내 링크 -->
            <section class="gni-link">
                <ul class="footer-link-list">
                    <li>
                        <a href="#">
                            <img src="/static/images/footer/guide-btn.png" alt="">
                            <span>후원가이드</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/images/footer/letter-btn.png" alt="">
                            <span>희망편지쓰기</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/images/footer/club-join-btn.png" alt="">
                            <span>더네이버스클럽</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/images/footer/market-btn.png" alt="">
                            <span>좋은이웃가게</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/images/footer/corp-donation-btn.png" alt="">
                            <span>기업후원</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- footer 회사정보 -->
            <section class="footer-info">
                <div class="footer-info-group">
                    <div>
                        <p>서울 영등포구 버드나루로 13 굿네이버스회관</p>
                        <p>사단법인 굿네이버스 인터내셔날 | 사업자등록번호 105-82-13183 | 대표자 이일하</p>
                        <p>사회복지법인 굿네이버스 | 사업자등록번호 105-82-10319 | 대표자 이호균</p>
                    </div>
                    <div>
                        <p>회원상담센터 1544-7944</p>
                        <p>대표전화 02-6717-4000</p>
                        <p>Copyright © GNI all right reserved</p>
                    </div>
                    <a href="#"><img src="/static/images/footer/Logo_small.png" alt=""></a>
                </div>
            </section>
            <!-- footer 약관, sns버튼 -->
            <section class="footer-bottom-wrap">
                <div class="footer-bottom">
                    <ul class="footer-bottom-list">
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이메일무단수집거부</a></li>
                        <li><a href="#">인재채용</a></li>
                        <li><a href="#">후원문의</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">사이트맵</a></li>
                        <li><a href="#">브랜드가이드라인</a></li>
                        <li><a href="#">세이프가딩정책</a></li>
                    </ul>
                    <ul class="sns-group">
                        <li><a href="#"><img src="/static/images/footer/sns/kakaofriend.png"><span>카카오톡 친구추가</span></a></li>
                        <li><a href="#"><img src="/static/images/footer/sns/instagram.png"></a></li>
                        <li><a href="#"><img src="/static/images/footer/sns/facebook.png"></a></li>
                        <li><a href="#"><img src="/static/images/footer/sns/twitter.png"></a></li>
                        <li><a href="#"><img src="/static/images/footer/sns/blog.png"></a></li>
                        <li><a href="#"><img src="/static/images/footer/sns/kakaostory.png"></a></li>
                        <li><a href="#"><img src="/static/images/footer/sns/youtube_link_btn.png"></a></li>
                    </ul>
                </div>
            </section>
        </footer>
    </div>
    <script src="/static/js/main-slide.js"></script>
    <script src="/static/js/main-tap.js"></script>
</body>
</html>