<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/payment/support_step1.css">
<body>
    <div id="wrapper">
        <main id="container" class="support-pay">
            <div class="sub-Vtit">
                <div class="sub-tit"><h2>정기 후원 신청</h2></div>
            </div>
            <div class="sub-visual">
                <div class="support-main-img"></div>
            </div>
            <section class="sub-content">
                <article class="step-sec">
                    <div class="step-Sequence">
                        <div class="step-box">
                            <div class="step active">
                                <span>01</span>
                                <label></label>
                                <h6>후원사업 선택</h6>
                            </div>
                            <div class="step">
                                <span>02</span>
                                <label></label>
                                <h6>후원회원정보</h6>
                            </div>
                            <div class="step">
                                <span>03</span>
                                <label></label>
                                <h6>납입정보 입력 및 후원완료</h6>
                            </div>
                        </div>
                        <div class="step-line"></div>
                    </div>
                </article>
                <article class="support-donate-pay">
                    <div class="donate-selects">
                        <div class="con">
                            <div class="support-donate-pay-con">
                                <div class="support-donate-tit">
                                    <h6>
                                        후원사업 선택
                                        <span>원하시는 후원사업과 금액을 입력해 주세요.</span>
                                    </h6>
                                </div>
                                <div class="support-donate-table">
                                    <!-- <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-1" class="surport-selects">
                                                    <label for="regular-1">해외아동 1:1결연</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row2 invisible-area">
                                            <h6>후원아동 수</h6>
                                            <div class="donate-pay-radio">
                                                <div>
                                                    <input type="radio" id="regular-1-1" name="regular-1" value="1" title="1명">
                                                    <label for="regular-1-1">1명</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="regular-1-2" name="regular-1" value="2" title="2명">
                                                    <label for="regular-1-2">2명</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="regular-1-3" name="regular-1" value="3" title="3명">
                                                    <label for="regular-1-3">3명</label>
                                                </div>
                                            </div>
                                            <div class="donate-pay-input input-box outline-box">
                                                <input type="number" class="maxLengthNext onlyPrice" name="regular-1" placeholder="아동 수 직접 입력" title="아동 수를 직접입력해주세요.">
                                                <label>명</label>
                                            </div>
                                            <div class="donate-pay-sinfo">
                                                후원금액(1명) 월 30,000원
                                            </div>
                                            <div class="donate-pay-total">
                                                총
                                                <span>30,000</span>
                                                원
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-2">
                                                    <label for="regular-7">국내아동권리보호사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-3">
                                                    <label for="regular-7">식수위생지원사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-4">
                                                    <label for="regular-7">보건의료지원사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-5">
                                                    <label for="regular-7">해외교육지원사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-6">
                                                    <label for="regular-7">해외지역개발사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-7">
                                                    <label for="regular-7">재난구호지원사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="donate-payInput regular-pay">
                                        <div class="row1">
                                            <div class="check-box">
                                                <div class="check">
                                                    <input type="checkbox" id="regular-8">
                                                    <label for="regular-7">희망학교지원사업</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="donate-pay-totalbox cf">
                                    <div>
                                        <div class="txt">총 후원금액</div>
                                        <div class="total">
                                            <span>0</span>
                                            원
                                        </div>
                                    </div>
                                </div>
                                <a href="/pay/support_step2" class="btn btn-next btn-ga-send">다음단계</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="support-donate-pay-info">
                    <div class="txt">
                        <h6>굿네이버스에 정기적으로 후원하시는 후원회원이 되시면, 기부금 세액공제를 받으실 수 있습니다.</h6>
                        <p>세액공제율은 지정기부금은 소득액의 30%, <br>
                        법정기부금은 소득금액의 100% 한도 내에서 15% 공제가 적용됩니다. <br>
                        (1,000만원을 초과하는 경우 30% 공제)
                        </p>
                    </div>
                </article>
            </section>
        </main>
    </div>
    <script src="/static/js/support_pay/support_step1.js"></script>
</body>
</html>