<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/payment/support_step1.css">
<body>
    <div id="wrapper">
        <main id="container" class="support-pay">
            <div class="sub-Vtit">
                <div class="sub-tit"><h2>정기 후원 신청</h2></div>
            </div>
            <div class="sub-visual">
                <div class="support-main-img"></div>
            </div>
            <section class="sub-content">
                <article class="step-sec">
                    <div class="step-Sequence">
                        <div class="step-box">
                            <div class="step active">
                                <span>01</span>
                                <label></label>
                                <h6>후원사업 선택</h6>
                            </div>
                            <div class="step">
                                <span>02</span>
                                <label></label>
                                <h6>후원회원정보</h6>
                            </div>
                            <div class="step">
                                <span>03</span>
                                <label></label>
                                <h6>납입정보 입력 및 후원완료</h6>
                            </div>
                        </div>
                        <div class="step-line"></div>
                    </div>
                </article>
                <article class="support-donate-pay">
                    <div class="donate-selects">
                        <div class="con">
                            <div class="support-donate-pay-con">
                                
                                
                                        
                                <a href="/pay/support_step2" class="btn btn-next btn-ga-send">다음단계</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="support-donate-pay-info">
                    <div class="txt">
                        <h6>굿네이버스에 정기적으로 후원하시는 후원회원이 되시면, 기부금 세액공제를 받으실 수 있습니다.</h6>
                        <p>세액공제율은 지정기부금은 소득액의 30%, <br>
                        법정기부금은 소득금액의 100% 한도 내에서 15% 공제가 적용됩니다. <br>
                        (1,000만원을 초과하는 경우 30% 공제)
                        </p>
                    </div>
                </article>
            </section>
        </main>
    </div>
    <script src="/static/js/support_pay/support_step1.js"></script>
</body>
</html>