body {
    padding: 0;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#container {
    width: 1264px;
    margin: 0 auto;
}

.sub-Vtit {
    text-align: left;
}

.sub-tit {
    margin: auto;
    padding: 90px 52px 30px;
    width: 1264px;

    border-bottom: 1px solid #89a230;
}

.sub-tit h2 {
    font-size: 32px;
    font-weight: 600;
    color: #89a230;
}

.sub-visual {
    width: 1264px;
    margin: auto;
    background: url(/static/images/pay-img/support_pc.jpg) no-repeat center;
}

.support-main-img {
    margin: auto;
    width: 1264px;
    height: 274px;
}

.support-pay .sub-content {
    padding: 80px 0 0;
}

.step-sec {
    text-align: center;
    margin-bottom: 78px;
}

.step-Sequence {
    width: 1048px;
    margin: auto;
}

.step-sec .step-box {
    display: flex;
    justify-content: center;
}

.step-box .step {
    width: 333px;
    padding: 0 70px;
}

.step span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.step label {
    display: inline-block;
    margin: 14px 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background: #d7e1aa;
    z-index: 1;
}

.step-line {
    position: relative;
    top: -48px;
    margin: 0 auto;
    width: 663px;
    height: 1px;

    z-index: -1;
    background: #d7e1aa;
}

.active label {
    background-color: #89a230;
}

.step h6 {
    font-size: 16px;
    font-weight: 600;
}

.support-donate-tit h6 {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
    text-align: left;

    font-size: 24px;
    font-weight: 600;
    line-height: 21px;
}

.write-form-table table{
    width: 100%;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.write-form-table table th, .write-form-table td {
    padding-bottom: 40px;
}

.write-form-table th {
    text-align: left;
    font-size: 18px;
    line-height: 50px;
    vertical-align: top;
}

.write-form-table td {
    vertical-align: middle;
}

.radio-check-box {
    display: flex;
}

.radio-box {
    line-height: 50px;
    overflow: hidden;
}

.radio-box.w33 > div, .check-box > div {
    width: 212px;
}

.radio-box .radio {
    float: left;
}

.radio-box .radio input {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    left: 5px;
}

.radio-box .radio label {
    position:relative;
    top: -2px;
    font-size: 16px;
    padding-left: 16px;
    line-height: 6px;
    cursor: pointer;
}

.input-box {
    font-size: 16px;
}

.input-box input[type='text']{
    font-size: 16px;
    text-indent: 20px;
    height: 50px;
    width: 615px;
    border: 1px solid #DCDCDC;
}

.check-box .check input {
    width: 25px;
    height: 25px;
}

.check-box .check label {
    position: relative;
    top: -7px;
    font-size: 16px;
    font-weight: 400;
}

.birth-box {
    padding: 0px;
    width: 615px;
    border: 1px solid #DCDCDC;
    overflow: hidden;
    text-align: center;
}

.birth-box input[type='number'] {
    border: none;
    width: 28%;
    text-align: center;
    text-indent: 0;
    height: 48px;
}

input[type='number']::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.phone-box input[type='number'] {
    padding: 13px 0 13px 20px;
    margin-bottom: 0;
    width: 615px;
    overflow: hidden;
    border: 1px solid #DCDCDC;
    background: #fff;

    float: left;
}

.btn-next {
    display: block;
    margin: 75px auto 120px;
    width: 400px;
    height: 60px;
    line-height: 60px;
    border: none;

    text-align: center;
    font-size: 20px;
    font-weight: 600;

    background: #89a230;
    color: #fff;
}

.support-donate-pay-info {
    padding: 47px 0;;
    text-align: center;
    background: #ecf3e6;
}

.support-donate-pay-info h6 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.support-donate-pay-info p {
    line-height: 23px;
}